
#center{
    text-align: center;
    height: 480px;
    background-color: rgb(255, 237, 214);
    margin: 100px 200px 200px 200px;
}

#center input{
    size: 60px;
    margin-top: 60px;
    margin-right: 70px;
    font-size: medium;
}

#center label{
    font-size: larger;
    font-weight: 150;
    font-family: 'lato', sans-serif;
}

#center select{
    border: none;
    font-size: large;
    font-weight: 120;
    padding: 7px 40px;
    font-family: 'lato', sans-serif;
}

#center button{
    display: flex;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px;
    padding: 14px 50px;
    text-align: center;
    text-decoration: none;
    color: rgb(248, 248, 249);
    background: rgb(122, 132, 239);
    margin:80px 100px 100px 480px ;
}

input{
    border:0;outline:0;
}

#center button:active{
    transform: scale(1.2);
}